@use '../../styles/utils' as u;

.products_preview {
	padding: 5rem 0;
	text-align: center;

	@include u.breakpoint-down(lg) {
		padding: 3rem 0;
	}

	.title {
		font-size: u.$fz-lg;

		@include u.breakpoint-down(lg) {
			font-size: 1.8rem;
		}
	}

	.hide_for_desktop {
		@include u.breakpoint-up(md) {
			display: none;
		}
	}

	.preview {
		margin: 3.6rem 0 3rem;
		border: 1px solid u.$grey;
		border-radius: 1rem;
		text-align: start;
		overflow: hidden;

		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@include u.breakpoint-down(lg) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;

		.dots {
			display: flex;
			gap: 1.5rem;
		}

		@include u.breakpoint-down(lg) {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
}
