// Colors
$dark: #1c1c1c;
$lightGrey: #f0f0f0;
$white: #ffffff;
$black: #000000;
$grey: #dddddd;

$greenLight: #36ba5c;
$redish: #d63030;
// Fonts
$fz-sm: 1.4rem;
$fz: 1.6rem;
$fz-md: 2rem;
$fz-lg: 2.4rem;
$fz-xl: 3rem;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1280px,
);
