@use '../../styles/utils' as u;

.btn {
	background-color: u.$white;
	border: 1px solid u.$grey;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.hide_for_mobile {
	@include u.breakpoint-down(lg) {
		display: none !important;
	}
}
